.FormElement {
    &:not(:first-of-type) {
        margin: 1rem 0;
    }

    &__Label {
        display: block;
        margin: 0 0 .5rem;
    }

    &__Group {        
        > * {
            display: block;
            margin: .5rem 0;
        }
    }

    input,
    select,
    textarea {
        background: white;
        border-radius: 5px;
        border: 1px solid #ddd;
        font: inherit;
        padding: .5rem 1rem;
        width: 100%;
        height: 3rem;
        transition: opacity .3s;
        box-shadow:none !important;

        &:disabled {
            background: #eee;
        }
    }
}