.List {

    &__Item {
        background: #f5f5f5;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: .5rem 0;
        padding: 1rem;

        > * {
            padding: 0 1rem;
        }

        a {
            color: #333;
        }
    }
}