.LandingPage {
    background: #006DED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    &__Main {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__Body {
        animation: LandingPage__BodyIn .3s ease-in-out;
        background: #fff;
        border-radius: 5px;
        width: 300px;
        padding: 1rem;
    }

    &__Footer {
        border-top: 1px solid rgba(#fff,.2);
        color: rgba(#fff,.7);
        font-size: .85rem;
        padding: 1rem;
        text-align: center;
        width:100%;
        a { color:inherit}
    }
}

@keyframes LandingPage__BodyIn {
    from { transform: scale(0.3); opacity: 0; }
    80% { transform: scale(1.1); opacity: 1; }
    100% { transform: scale(1); }
}