.Layout {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__Main {
        flex: 1;
    }

    &__Footer {
        border-top: 1px solid #eee;
        padding: 1rem;
        text-align: center;
        color: #999;
    }
}
