@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
    font: 400 16px 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1, h2 {
    font-weight: 300;
}

.font-fade {
    opacity: .5;
}

.font-strong {
    font-weight: 500;
}

.font-small {
    font-size: .85rem;
}

.vam {
    vertical-align: middle;
}