.Button {
    display: inline-block;
    background: #006DED;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font: inherit;
    padding: .5rem 1rem;
    text-decoration: none;
}