.Page {

    &__HeaderInner,
    &__Body {
        margin: 0 auto;
        max-width: 800px;
        padding: 0 1rem;
    }

    &__Header {
        border-bottom: 1px solid #eee;
        margin-bottom: 2rem;
    }

    &__HeaderInner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__Title {
        margin: 2rem 0;
    }
}