.md-header {
    background-color: #1D72DB;
}

.md-typeset h1 {
    font-weight: bold;
}

.md-nav__link--active {
    font-weight: bold;
}

.md-typeset .codehilitetable {
    font-size: 1.15rem;
}

.md-container>.md-main>.md-main__inner {
    height: inherit;
    position: relative;
}

