.Header {
    background: #006DED;
    color: #fff;
    display: flex;
    justify-content: center;

    &__Inner {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 800px;
        padding: 0 1rem;
    }

    &__Logo {
        img, svg { vertical-align: middle; max-height: 65px; }
    }

    &__Menu {
        margin-left: 1rem;
        flex: 1;
        
        a {
            color: inherit;
            padding: 0 1rem;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__User {
        text-align: right;
        
        a {
            color: inherit;
        }
    }
}
